@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif
}
:root
{
    --blue: #287bff;
    --green: #16ab85;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #1d1d1f;
    --black2: #999;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    min-width: 800px;
    background: var(--grey);
}

.container
{
    position: relative;
    width: 100%;
}

.navigation 
{
    position: fixed; /*fixed means the web won't move when you scroll it*/
    width: 300px;
    height: 100%;
    background: var(--white);
    border-left: 10px solid var(--white);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;
}

.navigation ul
{
    position: absolute; /* the position is only depends on this style*/
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative; /* the position is firstly set by before elements and than this one*/
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered
{
    background-color: var(--grey);
}

.navigation ul li:nth-child(1)
{
    margin-top: 10px;
    margin-bottom: 30px;
    pointer-events: none;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--black1);
}

.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--green);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}

.navigation ul li a .icon img
{
    width: 40px;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--grey);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--grey);
    pointer-events: none;
}

/* main */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--grey);
    transition: 0.5s;
}

.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar
{
    position: fixed;
    width: calc(100% - 300px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--white);
    z-index: 9999;
    transition: 0.5s
}

.topbar.active
{
    width: calc(100% - 80px);
}

.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.mccapig
{
    position: relative;
    top: 5px;
    right: 20px;
    width: 40px;
    min-height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.mccapig img
{
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

.elementCase
{
    position: absolute;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    top: 60px;
}

.elementCase div
{
    overflow: hidden;
}

.home1
{
    position: relative;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-image: url(image/pkuFall.jpg);
}

.home1 img
{
    width: 300px;
    padding-bottom: 30px;
}
.home1 h1
{
    font-size: 3em;
    line-height: 100px;
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem var(--black2));
}

.primaryLink
{
    padding: 0 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 20px;
    bottom: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.primaryLink img
{
    width: 18px;
    padding: 0;
    margin-right: 5px;
}

.primaryLink p
{
    line-height: 24px;
    text-decoration: none;
    color: var(--grey);
    filter: drop-shadow(0 0 0.01rem var(--black2));
    font-size: 0.5em;
}

.home2
{
    padding: 15px 0;
    column-count: 2;
}

.home2 div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home2 div:nth-child(2)
{
    height: 500px;
}

.home2 div img
{
    overflow: hidden;
    width: 400px;
}

.home2 div h2
{
    text-align: center;
    font-size: 2.5em;
    line-height: 80px;
}

.home2 div p
{
    text-align: center;
    font-size: 1.5em;
    line-height: 60px;
}

.home3
{
    column-count: 2;
    column-gap: 15px;
    width: 100%;
    overflow: hidden;
    min-width: 800px;
}

.home3 div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: calc(50%-15px);    
}

.home3 div h2
{
    position: absolute;
    font-size:2.5em;
    letter-spacing: 5px;
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem var(--black2));
}

.home3 div img
{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.home4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.home4 .align
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.linkNav
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.linkContent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: var(--black1);
    
}

.linkContent:hover
{
    background: var(--black2);
}

.linkContent img
{
    width: 72px;
    margin-top:30px;
    border-radius: 50%;
    
}

.linkContent p
{
    line-height: 60px;
}
